@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    height: auto;
    font-family: 'Heebo', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header.navbar{
    box-shadow: 0 4px 10px 0 #C9EFF9;
    width: 100%;
    background: #171c24;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    /* z-index: 999; */
    position: fixed;
    transition: top 0.75s ease-in;
}

header.navbar .nav-logo img{
    width: 200px;
    margin-inline-start: 2rem;
    margin-block: 1rem;
   
}

header.navbar .nav-list ul{
    display: flex;
    padding-left: 0;
    justify-content: center;
    gap: 2rem 1.2rem;
    align-items: center;
}

header.navbar .nav-list li{
    list-style-type: none;
    padding: 0 15px;
}

header.navbar .nav-list li a{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

header.navbar .nav-list li a:hover{
    color: #07A4B5;
}

header.navbar .nav-list li form input{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    height: auto;
    width: auto;
    background: white;
    border-radius: 200px;
    min-width: 18%!important;
}

header.navbar .nav-list li form button{
    border-radius: 200px;
    display: flex;
}

main{
    max-width: auto;
    width: 100%;
    /* height: 100%; */
    margin-inline: auto;
    /* padding: 2rem 4rem; */
    flex-flow: column nowrap;
    display: flex;
    /* align-items: center; */
    font-size: 1rem;
   
}

.container{
    min-height:100%;
    display: flex;
    flex-flow: column nowrap;
}

#beranda{
    height: 35rem;
    display: flex;
    align-items: center;
    /* margin-inline: auto; */
    flex-direction: row;
    gap: 5rem;
    background-color: #C9EFF9;
    justify-content: center;
    padding-inline: 3rem;

    
}

#beranda img{
    width: 40rem;
    min-width: 20rem;
}

#beranda p{
    max-width: 30rem;
    line-height: 2rem;
    font-size: 1.2rem;
}


#menu {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-content: center;
    text-align: justify;
    box-shadow: 0 1px 40px 0 #C9EFF9;
    padding-inline: 4rem;
    padding-top: 2rem;
}


#menu .part1{
    display: flex;
    flex-direction: column;
    flex: 1;
    
 
}   

#menu .part2{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.card-dokter{
    display: flex;
    flex-direction: row;
    padding-block: 0 2rem;
    
    flex-wrap: wrap;
    
    
}

.card-dokter-chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    flex: 1 1 ;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 #C9EFF9;
    padding: 1.4rem;

    
}

.foto-dokter{
    border-style: solid;
    border-color: black;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50%;
    
}

.card-obat{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1.5rem;
}

.card-obat .card-obat-item{
    display: flex;
    width: auto;
    background: #07A4B5;
    color: white;
    padding: 0rem 1rem;
    min-width: 10rem;
    border-radius: 0.5rem;
    flex: 1;
    cursor: pointer;
}

.card-obat .card-obat-item a{
    color: white;
}

.card-obat .card-obat-item:hover{
    background: white;
    color: #171c24;
    border: 2px solid #07A4B5;
}

.garis-pisah{
    border-left: 2px#07A4B5 solid;
    height: auto;
    width: 0px;
    margin-block: 1rem;
}


#artikel{
    /* /* display: flex; */
    /* flex-direction: column; */
    padding-inline: 4rem;
    margin-top: 2rem;
    /* flex: 1; */
}

#artikel .judul{
    display: flex;
    justify-content: space-between;
}

.more{
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: 600;
    font-size: medium;
    float: right;
}

.more:hover{
    cursor: pointer;
    box-shadow: 0 4px 10px 0 #C9EFF9;
}

.card{
    display: flex;
    flex: 1;
    gap: 1.5rem 2rem;
    flex-wrap: wrap;
}

.card-article{
    display: flex;
    padding: 2.2rem;
    min-width: 20rem;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    /* align-content: center; */
    text-align: justify;
    box-shadow: 0 4px 10px 0 #C9EFF9;
    border-radius: 1rem;
}

.card-article h1,a{
    text-decoration: none;
}

.card-article a:hover{
    color: #07A4B5;
}

.card-article a:visited{
    color: #07A4B5
}

.card-article img{
    min-width: 15rem;
}

.card-article:hover{
    box-shadow: 0 4px 20px 0 #C9EFF9;
}


#download{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 2rem;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

#download .one{
    padding: 2rem;
}

#download .one .title{
    font-size: 2rem;
    text-align: center;
}

#download .one p{
    text-align: center
} 

#download .one img{
    margin: auto;
    display: block;
}

.icon{
    height: 4rem;
    width: 13rem;

}

.image-hp{
    height: 340px;
}

#tentang-kami{
    display: flex;
    padding: 2rem;
    flex-direction: row;
    min-height: 10rem;
    align-items: center;
    background-color: #C9EFF9;
}

.tujuan{
    display: flex;
    flex: 0 1 50%;
    padding-inline: 10rem;
    flex-direction: column;
    align-items: center;    
}

aside{
    justify-content: flex-start;
    display: flex;
    flex: 0 1 50%;
    justify-content: center;
}

aside .biodata{
    display: flex;
    flex-flow: column nowrap;
    border: 0.2rem solid  #07A4B5;
    align-items: center;
    border-radius: 0.5rem;
}

aside .biodata .data-diri{
    background: #07A4B5;
}


aside .biodata .data-diri ul{
    padding: 0;
}

aside .biodata .data-diri li{
    font-weight:500;
    color: white;
    list-style: none;
    padding-inline: 1rem;
    padding-bottom: 0.3rem;
}

aside .biodata .data-diri li a{
    color: white;
    font-size: 1.5rem;
    display: flex;
}

.social-media {
    color: white;
    font-size: 1.5rem;
    display: flex;
}


.foto{
    border-style: solid;
    border-color: white;
    background-color: #07A4B5;
    width: 10em;
    height: auto;
    border-radius: 50%;
}



footer{
    width: 100%;
    height: 20rem;
    background: #07A4B5;
    color: white;
    position: relative;
    bottom: 0px; 

    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

footer .logo{
    margin-top: 4rem;
}

.logo img {
    height: 5rem;
}

footer .nav-list{
    display: flex;
    padding-left: 0;
    justify-content: center;
    gap: 2rem 1.2rem;
    align-items: center;
}

footer .nav-list li{
    list-style: none;
}

footer .nav-list li a{
    color: white;
    text-decoration: none;
}

footer .nav-list li a:hover{
    color: #171c24;
    text-decoration: none;
    transition: all .2s ease-in;
}

.scroll-up {
    position: fixed;
    right: 1%;
    bottom: 3%;
    cursor: pointer;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }
  

.copyright{
    position: absolute;
    bottom: 2px;
}

@media screen and (max-width: 1200px) {

    main {
        font-size: 0.8rem;
    }

    header.navbar{
        flex-direction: row;
    }

    header.navbar .nav-list ul{
        flex-wrap: nowrap;
        column-gap: .2rem;
    }

    #beranda{
        display: flex;  
        padding-top: 6rem;
    }

    #beranda p{
        line-height: 1.8rem;
        font-size: 1rem;
    }

    

    .part1 .part2 h2{
        font-size: 0.8rem;
    }

    .card-article{
        flex-wrap: wrap;
    }

    .card-article a{
        font-size: 1rem;
    }


    #download .one .title{
        font-size: 1.6rem;
    }


    .icon{
        height: 3rem;
        width: 10rem;
    }

    .more{
        font-size: small;
        display: inline-block;
    }

    #tentang-kami{
        flex-direction: column;
    }

    .tujuan{
        padding-inline: 0px;
    }

    aside{
        padding-top: 1rem;
    }

    footer{
        flex-direction: row;
    }

    footer .logo{
        margin: 2rem 2rem 0 2rem;
    }

    footer .nav-list{
        font-size: 1rem;
    }
    
    .hidden {
        display: none;
      }


    
}

/* Medium devices (landscape tablets, 768px and down) */
@media screen and (max-width: 768px) {
    header.navbar{
        flex-direction: column;
        font-size: 1rem;
        font-weight: 400;
    }

    header.navbar .nav-list ul{
        flex-wrap: wrap;
        column-gap: .2rem;
    }

    #beranda{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
        
    }

    #beranda img{
        width: 20rem;
        min-width: 10rem;
        padding-top: 11rem;
    }

    #menu {
        flex-direction: column;
        padding: 2rem;
    }

    .foto-dokter{
        max-width: 5rem;
    }

    .card-dokter-chat{
        max-width: 9rem;
        padding-block: 1rem;
        padding-inline: 1.5rem;
        min-width: 6rem;
      
    }

    .card-dokter-chat h4, a{
        font-size: 0.6rem;
        font-weight: 500;
        max-width: 4rem;
    }


    #artikel{
        padding-inline: 1.2rem;
        /* padding-top: 1rem; */
    }

    .card-article{
        padding-top: 0.5rem;
        min-width: 10rem;
    }

    .card-article img{
        min-width: 7rem;
    }

    .card-article a{
        font-size: 1rem;
    }

    #download .one .title{
        font-size: 1.3rem;
        text-align: center;
    }

    #download .one p{
        /* font-size: 1.3rem; */
        text-align: center
    } 

    #download .one img{
        margin: auto;
        display: block;
    }

    footer{
        height: auto;
        flex-direction: column;
        padding-bottom: 2.5rem;  
        align-items: center;
    }
 
    footer .nav-list li a{
        font-size: 1rem;
    }

    .copyright{
        width: 100%;
        text-align: center;
        bottom: 0;
    }

    

}